{% load static %}
<script src="{% static 'network/UtilsNetwork.js' %}"></script>

<script src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin></script>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js" crossorigin></script>
<script src="https://cdn.jsdelivr.net/npm/clsx@1.1.1/dist/clsx.min.js" crossorigin></script>

<script src="{% static 'network/FetchClient.jsx' %}" type="text/babel" data-type="text/javascript"></script>
<script src="{% static 'network/UserProfile.jsx' %}" type="text/babel" data-type="text/javascript"></script>
<script src="{% static 'network/Posts.jsx' %}" type="text/babel" data-type="text/javascript"></script>
<script src="{% static 'network/MenuNav.jsx' %}" type="text/babel" data-type="text/javascript"></script>
<script src="{% static 'network/main.jsx' %}" type="text/babel" data-type="text/javascript"></script>